<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejercicio_3.Properties.Settings.ejercicioConnectionString"
            connectionString="Data Source=LAPTOP-FR3HOND5\PATO;Initial Catalog=ejercicio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ejercicio_3.Properties.Settings.ejercicioConnectionString3"
            connectionString="Data Source=LAPTOP-FR3HOND5\PATO;Initial Catalog=ejercicio;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>